@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestão de Ordens (FIX 4.4) - Desafio Flowa</h1>
    <br /><br />
    <label class="control-label pt-2" style="font-size:20px;">
        Este projeto implementa um Order Management System (OMS) simplificado, utilizando o protocolo Financial Information eXchange (FIX 4.4), simulando a comunicação entre componentes de um ambiente real de trading.
        <br /><br />
        A solução demonstra o fluxo completo de envio, processamento e resposta de ordens financeiras utilizando mensageria baseada em FIX. 
        <br /><br />
        Acesse a tela Ordens pelo cabeçalho ou
        clique <a asp-controller="OrderGenerator" asp-action="OrderGeneratorIndex">aqui</a>.</label>
</div>
