@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <label class="control-label pt-2" style="font-size:20px;">Este é um desafio da Flowa cujo objetivo é simular uma ordem de compra e venda de ativos financeiros, 
        utilizando o protocolo Fix 4.4 da QuickFix. Acesse a tela Ordens pelo cabeçalho ou 
        clique <a asp-controller="OrderGenerator" asp-action="OrderGeneratorIndex">aqui</a>.</label>
</div>
